.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdownContent{
    display: none;
    position: absolute;
    background-color: green;    
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownContent li{
    list-style: none;
    border: 1px solid black;
}

.dropdown:hover .dropdownContent{
    display: block;
}