.NavigationBar {
    /* position: fixed; */
    background-color:rgba(35, 55, 75, 0.9);
    font: 15px/24px monospace;
}

.NavigationBar li:nth-child(2){    
    margin-right: auto;
}

.NavigationBar li:last-child{    
    margin-right: auto;
    /* margin-left: auto; */
}

.NavigationBar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ffffff;     
}

.NavigationBar li {
    flex: 0 0 auto;
    margin: 8px;    
    /* padding: 15px; */
}

.NavigationBar a {
    text-decoration: none;
    color: black;
    color: #ffffff; 
}

.NavigationBar a:hover,
.NavigationBar a:active,
.NavigationBar a.active {
    background-color: blueviolet;
    color: white;
}